
<style>
    /*.nav-item {
            font-weight: normal !important;
            cursor: pointer !important;
        }

        .nav-item.active {
            font-weight: bold !important;
            background-color: yellow !important;
        }*/

    .bold {
        font-weight: bold;
        background-color: lightblue !important;
    }

    .bg-gradient-primary {
        background-color: #4e73df;
        background-image: linear-gradient(120deg, #e44435 10%, #6f160d 100%);
        background-size: cover;
    }

</style>


<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        @*asp-area="" asp-controller="Home" asp-action="Index">*@
        @*<div class="sidebar-brand-icon rotate-n-15">*@
        <div class="sidebar-brand-icon">
            <i class="fas fa-file"></i>
            EDMS
        </div>
        @*<div class="sidebar-brand-text mx-3">EDMS</div>*@

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </a>
    

    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>


    @*   <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
    Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
    aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-cog"></i>
    <span>Components</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
    <h6 class="collapse-header">Custom Components:</h6>
    <a class="collapse-item" href="buttons.html">Buttons</a>
    <a class="collapse-item" href="cards.html">Cards</a>
    </div>
    </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
    aria-expanded="true" aria-controls="collapseUtilities">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Utilities</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
    data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
    <h6 class="collapse-header">Custom Utilities:</h6>
    <a class="collapse-item" href="utilities-color.html">Colors</a>
    <a class="collapse-item" href="utilities-border.html">Borders</a>
    <a class="collapse-item" href="utilities-animation.html">Animations</a>
    <a class="collapse-item" href="utilities-other.html">Other</a>
    </div>
    </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
    Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
    aria-expanded="true" aria-controls="collapsePages">
    <i class="fas fa-fw fa-folder"></i>
    <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
    <h6 class="collapse-header">Login Screens:</h6>
    <a class="collapse-item" href="login.html">Login</a>
    <!--<a class="collapse-item" asp-area="" asp-controller="Home" asp-action="Table"> Table</a>-->
    <a class="collapse-item" asp-area="" asp-controller="Home" asp-action="DocumentMagement"> Table</a>
    <a class="collapse-item" href="register.html">Register</a>
    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
    <div class="collapse-divider"></div>
    <h6 class="collapse-header">Other Pages:</h6>
    <a class="collapse-item" href="404.html">404 Page</a>
    <a class="collapse-item" href="blank.html">Blank Page</a>
    </div>
    </div>
    </li> *@

    @*  <!-- Nav Item - Charts -->
    <li class="nav-item">
    <a class="nav-link" href="charts.html">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Charts</span>
    </a>
    </li> *@

    
    <!-- Nav Item - Tables --> <!---<a class="collapse-item" asp-area="" asp-controller="Home" asp-action="Table"> Table</a>-->
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="DocumentManagement">
            <i class="fas fa-fw fa-table"></i>
            <span>Document Management</span>
        </a>
        </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FileData">
            <i class="fas fa-fw fa-table"></i>
            <span>File Data</span>
        </a>
        </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ChangesTable">
            <i class="fas fa-fw fa-table"></i>
            <span>Changes Data </span>
        </a>
        </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="DocumentTypeLogTable">
            <i class="fas fa-fw fa-table"></i>
            <span>Log Table (Doc Type)</span>
        </a>
        </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="DocumentManagementLogTable">
            <i class="fas fa-fw fa-table"></i>
            <span>Log Table (Doc Management)</span>
        </a>
        </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="LogTable">
            <i class="fas fa-fw fa-table"></i>
            <span>Log Table</span>
        </a>
        </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="DocumentTypeTable">
            <i class="fas fa-fw fa-table"></i>
            <span>Document Type </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="DocumentTable">
            <i class="fas fa-fw fa-table"></i>
            <span> Document Table </span>
        </a>
    </li>

    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    @*<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>*@

    <!-- Sidebar Message -->




</ul>
</>
<!-- End of Sidebar -->


<script>

    // Select all sidebar links
    const sidebarLinks = document.querySelectorAll('.nav-item');

    // Add event listener to each link
    sidebarLinks.forEach(link => {
        link.addEventListener('click', () => {
            // Remove bold class from all links
            sidebarLinks.forEach(l => l.classList.remove('bold'));
            // Add bold class to the clicked link
            link.classList.add('bold');
        });
    });

    /*$(document).ready(function () {
        $('.nav-item').on('click', function () {
            $('.nav-item').removeClass('active');  // Remove 'active' from all items
            $(this).addClass('active');  // Add 'active' to the clicked item
        });
    });*/


    /*// Select all sidebar links
    const sidebarLinks = document.querySelectorAll('.nav-item');

    // Add event listener to each link
    sidebarLinks.forEach(link => {
        link.addEventListener('click', () => {
            // Remove bold class from all links except the current one
            sidebarLinks.forEach(l => {
                if (l !== link) {
                    l.classList.remove('bold');
                }
            });
            // Toggle bold class on the current link
            link.classList.toggle('bold');
        });
    });*/


    /*// Select all sidebar links
    const sidebarLinks = document.querySelectorAll('.nav-item');

    // Add event listener to each link
    sidebarLinks.forEach(link => {
    link.addEventListener('click', () => {
        // Remove bold class from all links
        sidebarLinks.forEach(l => l.classList.remove('bold'));
        // Add bold class to the clicked link
        link.classList.add('bold');
    });
    });*/

</script>